{
  "plugins": ["prettier-plugin-tailwindcss"],
  "printWidth": 120,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "insertPragma": false,
  "endOfLine": "lf",
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "quoteProps": "as-needed",
  "requirePragma": false,
  "trailingComma": "none"
}
