# Ignore artifacts:
build
dist
coverage
tmp
temp

# Ignore dependencies:
node_modules

# Ignore environment files:
.env
.env.*

# Ignore version control:
.git
.gitignore
.gitattributes

# Ignore compiled or bundled files:
*.min.js
*.min.css
*.bundle.js
*.bundle.css

# Ignore specific file types:
*.log
*.snap
