#profile {
  height: calc(100vh - 92px);
}

#profile img {
  border: 1px solid #3ed295;
  padding: 3px;
  transition: all 0.5s ease-in-out;
}

#profile img:hover {
  border: 1px solid black;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  padding: 3px;
}

#profile > div {
  flex-direction: row;
}

#profile > div div:first-child {
  text-align: right;
}

@media (max-width: 768px) {
  #profile {
    text-align: center;
  }

  #profile > div {
    flex-direction: column;
  }

  #profile > div div:first-child {
    text-align: center;
  }
}
