@import 'tailwindcss';

@theme {
  --animate-move-bg-diagonal: moveBgDiagonal 4s linear infinite;
  --animate-fade-in: fadeIn 0.6s ease-out forwards;

  @keyframes moveBgDiagonal {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 25px 25px;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
