@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(17, 17, 17);
}

::-webkit-scrollbar {
  display: none;
  width: 16px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
